<h5>2019 Festival Calendar</h5>

<table class="table table-bordered table-sm">
    <thead>
        <tr>
            <th scope="col">Festival</th>
            <th scope="col">Date</th>
            <th scope="col">Day</th>
            <th scope="col">Fasting</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td scope="row">Festival of colors (Holi)</td>
            <td>March 23</td>
            <td>Saturday</td>
            <td>No fasting</td>
        </tr>
        <tr>
            <td scope="row">Rama Navami</td>
            <td>April 13</td>
            <td>Saturday</td>
            <td>Fasting till sunset</td>
        </tr>
        <tr>
            <td scope="row">Makar Sankranti</td>
            <td>January 14</td>
            <td>Monday</td>
            <td></td>
        </tr>
        <tr>
            <td scope="row">Sita Navami</td>
            <td>January 14</td>
            <td>Monday</td>
            <td></td>
        </tr>
        <tr>
            <td scope="row">Makar Sankranti</td>
            <td>January 14</td>
            <td>Monday</td>
            <td></td>
        </tr>
        <tr>
            <td scope="row">Makar Sankranti</td>
            <td>January 14</td>
            <td>Monday</td>
            <td></td>
        </tr>
        <tr>
            <td scope="row">Makar Sankranti</td>
            <td>January 14</td>
            <td>Monday</td>
            <td></td>
        </tr>
        <tr>
            <td scope="row">Makar Sankranti</td>
            <td>January 14</td>
            <td>Monday</td>
            <td></td>
        </tr>
    </tbody>
</table>