<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="card">
        <img class="card-img-top" src="assets/images/anand_mela.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Anandamela - Joyful Festival of India</h5>
          <p class="card-text">July 27th & 28th - 12 Noon to 9 PM</p>
          <a href="#" class="btn btn-primary">See More</a>
        </div>
      </div>

    </div>
    <div class="col-sm">
      <div class="card">
        <img class="card-img-top" src="assets/images/classes.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Hindi School - 2019</h5>
          <p class="card-text">Starting September 2019
            Every Sunday from 4 PM to 5:30 PM</p>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card">
        <img class="card-img-top" src="assets/images/summer_camp.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Tune up your Emotional Intelligence - Summer camp</h5>
          <p class="card-text">Camp: July 1st to 3rd.</p>
          <a href="#" class="btn btn-primary">Registration</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <div class="card">
        <img class="card-img-top" src="assets/images/gita_event.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Bhagavat Gita Chatur shloki by HG Kanai Thakur Prabhu</h5>
          <p class="card-text">July 1st,2nd,3rd 7:30 evening
            July 4 7:30 morning </p>
        </div>
      </div>

    </div>
    <div class="col-sm">
      <div class="card">
        <img class="card-img-top" src="assets/images/vedic_school.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Vedic School</h5>
          <p class="card-text">Every Sunday 6 PM to 7 PM
            From Sep 15th 2019.</p>
          <a href="#" class="btn btn-primary">Register</a>
        </div>
      </div>
    </div>
  </div>
</div>