<div class="text-center py-1">
  <img src="/assets/images/cultural.jpg" class="img-fluid" alt="Temple">
</div>

<p>
  Dance classes like Odissi, Kuchipudi and Bharatanatyam + Music classes like flute, mridanga, harmonium, violin, etc. are taught for both kids and adults.
  Note: Facility is provided by VCC for free, while these classes are conducted by third party organizers.
</p>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Class</th>
      <th scope="col">Institute</th>
      <th scope="col">Class Details</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Bharathanatyam Dance	</td>
      <td>From Within Academy	</td>
      <td><div class="row">sara@fromwithinacademy.org</div>
        <div class="row">425-654-0640</div>
        <div class="row">www.fromwithinacademy.org</div></td>
    </tr>
    <tr>
      <td>Kathak Dance	</td>
      <td>Anga Kala Kathak Academy	</td>
      <td><div class="row">andatta49855@yahoo.com</div>
        <div class="row">425-654-0640</div>
        <div class="row">www.fromwithinacademy.org</div></td>
    </tr>
    <tr>
      <td>Classical Vocal & Veena	</td>
      <td>Vishwavani school of Music	</td>
      <td><div class="row">vishwavani@yahoo.com</div>
        <div class="row">425-654-0640</div>
        <div class="row">http://vishwavanimusic.com/</div></td>
    </tr>
  </tbody>
</table>
