<div class="card my-1" style="width: 24rem;">
    <div class="card-header">
        <h5>Temple Schedule Mon to Fri</h5>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">5:30- 5:55 AM – Mangal Arati</li>
        <li class="list-group-item">5:55 – 6:15 AM – Tulasi-arati and Siksastakam prayers</li>
        <li class="list-group-item">8:15 AM – Guru-Puja</li>
        <li class="list-group-item">8:30 AM – Shringar Arati</li>
        <li class="list-group-item">12:00-12:30 PM – Raj Bhoga Arati</li>
        <li class="list-group-item">12:30 PM to 3:00PM Darshan Closes</li>
        <li class="list-group-item">3:00 PM – Utthapana Darshan Arati</li>
        <li class="list-group-item">6:30 PM to 7:00 PM Darshan Closes</li>
        <li class="list-group-item">7:00-7:30 PM – Sandya Arati</li>
        <li class="list-group-item">7:30 to 8:30 PM Bhagavad Gita Class</li>
        <li class="list-group-item">8:30 PM Shayan Arati</li>
        <li class="list-group-item">8:45 PM Dieties put to rest</li>
        <li class="list-group-item">9:00 PM – Temple closes</li>
    </ul>
</div>